<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaVista.Properties.Settings.ConnectionString" connectionString="Dsn=umg_prototipo2k23;uid=root"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>